# OS
.DS_Store
Thumbs.db

# IntelliJ IDEA / JetBrains
.idea/
*.iml
*.ipr
*.iws

# Gradle
.gradle/
**/build/
**/out/
!gradle/wrapper/gradle-wrapper.jar

# VS Code
.vscode/

# Kotlin/Logs
kotlin-js-store/
*.log

# Local environment
local.properties
